
* {
  outline: dotted red;
box-sizing: border-box;
overflow: hidden;
overflow: auto;


/* background-color: blanchedalmond;
color: #000033; */
}
body{  
  max-width: 80%vw;
  margin-left: auto;
  margin-right: auto;
  color: blanchedalmond;


}

header{
  width: 80%;
  height: 150px;
  margin-right: auto;
  margin-left: auto; 
  /* background-color: blanchedalmond;
  background-image: url("image-assets/chinook-main-logo.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
}

nav{
  height: 20%;
  margin-top: 6%;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  /* position: relative;
  box-sizing: border-box; */
  
}

main {
  margin-top: 40px;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  
}

img {
  max-width: 150px;
}

h1 {
  max-width: fit-content;
  font-size: 48px;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  
}

footer {
  max-width: 80%vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

}

footer nav {
  margin-bottom: 30px;
  
}


/* Table Styling */
h2 {
  font-size: 18pt;
  max-width: fit-content;
  margin-right: auto;
  margin-left: auto;
}

#overview th {
  min-width : fit-content;
  padding: 5px;

}

#overview td {
  margin-right: 60px;
  text-align: center;
}  

#overview  tr {
  height: 30px;
  margin-top: 40px;
  border-top: 5px solid rebeccapurple;
  
  
 
}
/* form styling */

.newStore{
  margin-top: 40px;
 
}

.newStore fieldset {
  max-width: fit-content;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  
}

.newStore legend{
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: bolder;
  
}

.newStore label {
  max-width: 10%;
  margin-right: 3%;
  margin-left: 3%;
  

}

.newStore input{
  max-width: fit-content;
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  
}

.newStore label:last-of-type{
  margin-right: 10px;
}

.newStore button {
  max-width: fit-content;
  margin-top: 45px;
  padding: 10px;
  margin-left: 45%;
}

